
@{
    ViewBag.Title = "Razor";
}

<h2>@ViewBag.Title.</h2>


@using (Html.BeginForm("Razor", "Basics", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        
        <fieldset>
            <div id ="razorEmail "class="">
                @Html.TextBox("email")
            </div>
            <div id="razorPassword" class="">
                @Html.Password("password")
            </div>
            <div id="razorPasswordConfirmation" class="">
                @Html.Password("PasswordConfirmation")
            </div>
            <div id="razorSubmit" class="">
                <input type="submit" value="SUBMIT!" />
            </div>

        </fieldset>
    </div>
}